<div class="center">
  <h2>Ask your coach anything:</h2>
    <form action="/answer">
      <input class="search" type="text" name="question">
      <input class="submit-btn" type="submit" value="Ask!">
    </form>
</div>