// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  width: 500px;
  margin: 0 auto;
}

.left-border {
  border-left: 3px solid grey;
}

.padding {
  padding: 10px;
}

#coach {
  background-color: rgba(232, 235, 57, 0.3)
}

.search {
  position: relative;
  padding: 10px;
  width: 200px;
  color: #525252;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.submit-btn {
  padding: 10px;
  margin: 0;
  color: white;
  background-color: blue;
  border-radius: 5px;
}